body {
	/*margin: 1% 1% 1% 1%;*/
	margin: 0 0 0 0;
	background-color:  #e8e8e8; /*Full page background*/
	color: black;
}
html{
	height: 100%;
	font-family:Helvetica;
}

hr {
	border: 1px solid #ccc;
}
/*-----------------------------Nav Bar-------------------------------------------*/

.navbar{
	z-index: 1;
}

.navbar-brand {
  	color:#009b09 !important;
  	font-size: 40px;
 	margin: 0px;

}
.navbar-brand:hover{
	color:#007a2a !important;
}

.navbar-right a{
	color:#009b09 !important;
	font-size: 18px;
}

.navbar-right li a:hover{
	color:#007a2a !important;
}

.leaf li a:hover{
	color:#007a2a !important;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
 	background-color: #232323 !important;
}

.nav li a:hover,
.nav li a:active,
.nav li a:focus,
.nav li a:target{
	background-color: #232323 !important;
	color: #fff !important;
}
/*---------------------------------NavBar End--------------------------------------------*/

<<<<<<< HEAD
h1 {
=======
h1 {	
>>>>>>> 96f54a4... some react stuff for display all plants/groups
  	color:black;
  	height: 2%;
	width: 100%;
 }

<<<<<<< HEAD
.plantRender{
    font-size: 18px;
}

.plantRender li{
    list-style-type: none;

}

.plantRender a{
    color: #009b09;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
}

.plantRender a:hover{
    color: #232323;
}

.plantElement a{
    font-size: 19px;
}


=======
>>>>>>> 96f54a4... some react stuff for display all plants/groups
.pageList{
	width: 95%;

}
.groupList{
	height: 100%;
}

.plantList{
	width:85%;
}

<<<<<<< HEAD
=======
.groupList{

}

>>>>>>> 96f54a4... some react stuff for display all plants/groups
.plantList ul{
	border-style: solid;
}

.groupList a{
	font-size: 18px;
<<<<<<< HEAD
    text-decoration: none;
	color: #009b09;
	font-weight: bold;
}
.groupList a:hover{
    color: #232323;
}

=======
	color: #009b09;
	font-weight: bold;
}
>>>>>>> 96f54a4... some react stuff for display all plants/groups
.groupList li{
	list-style-type: none;
}

.groupElement{
	border-bottom: solid;
	border-width: .1px
}

#plantName{
	font-size: 15px;
}

.EasterEgg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.EasterEgg-content {
	background-color: #131313;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
<<<<<<< HEAD
}
=======
}
>>>>>>> 96f54a4... some react stuff for display all plants/groups
