
body {
    /*margin: 1% 1% 1% 1%;*/
    margin: 0 0 0 0;
    background-color:  #e8e8e8; /*Full page background*/
    color: black;
}
html{
    height: 100%;
    font-family: 'Roboto', Helvetica;
}

div.flexContainer {
    display: flex;
    flex-direction: row;
}

/*-----------------------------Nav Bar-------------------------------------------*/

.navbar{
    border-bottom: solid;
    border-color: #009b09
}

.navbar-brand {
    color:#009b09 !important;
    font-size: 40px;
    margin: 0px;
}
.navbar-brand:hover{
    color:#007a2a !important;
}

.navbar-right a{
    color:#009b09 !important;
    font-size: 17px;
}

.navbar-right li a:hover{
    color:#ffffff !important;
}

.leaf li a:hover{
    color:#007a2a !important;
}

/*---------------------------------NavBar End--------------------------------------------*/
/*-------------------------------Begin Sidebar-------------------------------------------*/

#sidebar {
    z-index: 1000;
    width: inherit;
    min-width: 250px;
    max-width: 250px;
    background-color:#232323;
    float: left;
    height:fill-available;
    overflow-y:auto;
    overflow-x:auto;
    border-right: none;
    border-color: #009b09;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
    background-color: #232323 !important;
}

@media screen and (max-width: 800px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.30s ease-out;
        -moz-transition: all 0.30s ease-out;
        transition: all 0.30s ease-out;
        width:calc(100% + 20px);
    }

    .row-offcanvas-left
    {
        left: -250px;
    }

    .row-offcanvas-left.active {
        left: 0;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
    }
}

.col-xs-12 li a{
    color: #bcbcbc !important;
}

.dropdown a:active{
    color: #009b09 !important;
}

.dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border:none;
    background-color: #232323;
    box-shadow: none;
}

.btn{
    display: block;
    padding:4px 6px;
}
.btn:hover,
.btn:focus{
    color:#fff;
}

#navlist{margin: 0; padding: 0;}
#navlist li{display: inline; list-style: none; margin: 0; padding: 0;}
#navlist li a{float: left; display: block; background: #555; color: #fff; height: 19px; width: auto; padding: 10px; margin: 0 1px 0 0; border-bottom: 1px solid #fff; text-decoration: none;}
#navlist li a:hover{background: #111; border-bottom: 1px solid #111; text-decoration: underline;}
#navlist li a.active{background: #111; border-bottom: 1px solid #111;}

.nav li a:hover,
.nav li a:active,
.nav li a:focus,
.nav li a:target{
    background-color: #232323 !important;
    color: #fff !important;
}

.plus:hover{
    color:#fff;
    background-color: #009b09;
}

.collapsed > .caret {border-left: 4px solid #888; border-right: 0; border-top: 4px solid transparent; border-bottom: 4px solid transparent;}

.dropdown-toggle a:focus,
.dropdown-toggle a:hover,
.dropdown-toggle a:active{
    background-color: #232323 !important;
}

.nav{
    color:#009b09 !important;
    list-style-position: inside;
}

.innerMenu a{
    background-color: #232323 !important;
    max-width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-left: solid;
    border-width: 1px;
    border-color: #009b09;
}
.innerMenu{
    padding-left: 15px;
}

/*Ellipsis control*/
.nav li{
    max-width: 220px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.nav a{
    max-width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.glyphicon-cog:hover{
    color:#bcbcbc;
}

select {
    border: none;
    color: #ddd;
    background: transparent;
    font-weight: bold;
    padding: 5px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    background-color: #58B14C;
}

/*---------------------------End side Bar-----------------------*/
/*-------------------------Begin Stage------------------------*/

#stage {
    margin-left: 253px;
    height:100%;
    overflow:auto;
    position: auto;
    width: 81%;
}

#panel{
    width: 100%;

}
.panel_status{
    padding-left: 2%;
}
#status{
    margin-left: 0%;
}

#panel.inner_panel li {
    border-bottom: 1px solid #bbb;
    margin-left: 0;
}

#panel.inner_panel ul {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    margin-left: 2%;
}

.attention{
    font-size: 15px;
    font-weight: bold;
}

#Level li {

    font-size: 18px;
    font-weight: normal;
    text-decoration: underline;
}

#version{
    position:fixed;
    bottom:0;
    right:1;
}

hr {
    border: 1px solid #ccc;
}

/*---------------------------End Stage--------------------*/
h1 {
    color:black;
    height: 2%;
    width: 100%;
    /*margin-left: 3%;*/
}

h2 {
    color: white;
    background-color: #009b09;
    height: 3%;
    width:100%;
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
}

h3{
    padding-left: 0;
    margin-left: 0;
}

hr {
    color: #009b09;
    background-color: #009b09;
}

.EasterEgg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.EasterEgg-content {
    background-color: #131313;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

div#sidebar > div.navButton {
    padding: 4px;
    margin: 2px;
    color: white;
}

div#sidebar > div.navButton:hover {
    background-color: green;
    cursor: pointer;
}
