html {
	font-family: helvetica;
}

.backgroundImg 
{	
	background: url('../blur2.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	height: 100%;
	background-size: cover;
	overflow:hidden;
}
	
.gradienttop {
	position: absolute;
	top:0;
	left:0;
	height: 100px;
	width: 100%;
    background: -webkit-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0));
    background: -o-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0));
    background: -moz-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0));
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0)); 
}

.topright {
	position:absolute;
	right:2%;
	top:4%;
}

.userButtons {
	display: inline;
	margin: 10px;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: white;
	font-size: 19px;
	font-weight: bold;
}




.center {
	text-align: center;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-80%);
}

h1 {
	color: white;
	font-style: italic;
	text-align: center;
	font-size:64px;
	margin-bottom: 10px;
}

.fake-hr1 {
	height: 30px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-radius: 30px;
	margin-bottom: -61px;
	color: white;
}

.fake-hr2 { 
    height: 30px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-radius: 30px;
	color: white;
}

.lowerText {
	margin: 20px;
	color: white;
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	line-height: 26.4px;
}


#hidden-login {
	display: none;
	position: absolute;
	top: 80px;
	right: 20px;
	padding: 20px;
	width: 200px;
	border-radius: 20px;
	color: white;
    background: -webkit-linear-gradient(left top, #939292, #3a3a3a);
    background: -o-linear-gradient(bottom right, #939292, #3a3a3a);
    background: -moz-linear-gradient(bottom right, #939292, #3a3a3a); 
    background: linear-gradient(to bottom right, #939292, #3a3a3a); 
}

input[type=text], input[type=password] {
	width: 100%;
    padding: 5px 10px;
    margin: 0 0 8px 0;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 50%;
    background-color: #42bf53;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	color: white;
	font-weight: bold;
}

input[type=submit]:hover {
    background-color: #3e994b;
}



